

.navigation{
  font-size: 4vh;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}


nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
}
nav a.active {
  color: #039be5;
}
